In [1]:
import pandas as pd
import matplotlib as plt

In [2]:
census_data = pd.read_csv(filepath_or_buffer='census_no_null.csv')
census_data.head()

,Unnamed: 0,age,workclass,fnlwgt,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income_level
0,0,39,State-gov,77516.0,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,1,50,Self-emp-not-inc,83311.0,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,2,38,Private,215646.0,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,3,53,Private,234721.0,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,4,28,Private,338409.0,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [3]:
census_data.shape

(45222, 15)

In [4]:
target = census_data.pop('income_level')

In [5]:
from sklearn.preprocessing import OneHotEncoder
def categorical_encoding(column_name=None, data_frame=None):
    wclass_encoder = OneHotEncoder()
    ohe = wclass_encoder.fit_transform(data_frame[column_name].values.reshape(-1,1)).toarray()
    dfOneHot = pd.DataFrame(ohe, columns = [column_name+"_"+str(wclass_encoder.categories_[0][i]) for i in range(len(wclass_encoder.categories_[0]))])
    data_frame = pd.concat([data_frame, dfOneHot], axis=1)
    data_frame = data_frame.drop(column_name, axis=1)
    return data_frame

In [6]:
census_data = categorical_encoding(column_name='workclass', data_frame=census_data)
census_data.head()

,Unnamed: 0,age,fnlwgt,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay
0,0,39,77516.0,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,50,83311.0,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2,38,215646.0,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3,53,234721.0,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,4,28,338409.0,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [7]:
census_data = categorical_encoding(column_name='marital_status', data_frame=census_data)
census_data.head()

,Unnamed: 0,age,fnlwgt,education_num,occupation,relationship,race,sex,capital_gain,capital_loss,...,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital_status_Divorced,marital_status_Married-AF-spouse,marital_status_Married-civ-spouse,marital_status_Married-spouse-absent,marital_status_Never-married,marital_status_Separated,marital_status_Widowed
0,0,39,77516.0,13,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,50,83311.0,13,Exec-managerial,Husband,White,Male,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,38,215646.0,9,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,53,234721.0,7,Handlers-cleaners,Husband,Black,Male,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,4,28,338409.0,13,Prof-specialty,Wife,Black,Female,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [8]:
census_data = categorical_encoding(column_name='occupation', data_frame=census_data)
census_data.head()

,Unnamed: 0,age,fnlwgt,education_num,relationship,race,sex,capital_gain,capital_loss,hours_per_week,...,occupation_Farming-fishing,occupation_Handlers-cleaners,occupation_Machine-op-inspct,occupation_Other-service,occupation_Priv-house-serv,occupation_Prof-specialty,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving
0,0,39,77516.0,13,Not-in-family,White,Male,2174.0,0.0,40.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,50,83311.0,13,Husband,White,Male,0.0,0.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,38,215646.0,9,Not-in-family,White,Male,0.0,0.0,40.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,53,234721.0,7,Husband,Black,Male,0.0,0.0,40.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,28,338409.0,13,Wife,Black,Female,0.0,0.0,40.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [9]:
census_data = categorical_encoding(column_name='relationship', data_frame=census_data)
census_data.head()

,Unnamed: 0,age,fnlwgt,education_num,race,sex,capital_gain,capital_loss,hours_per_week,native_country,...,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,relationship_Husband,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife
0,0,39,77516.0,13,White,Male,2174.0,0.0,40.0,United-States,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,50,83311.0,13,White,Male,0.0,0.0,13.0,United-States,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,2,38,215646.0,9,White,Male,0.0,0.0,40.0,United-States,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3,53,234721.0,7,Black,Male,0.0,0.0,40.0,United-States,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,4,28,338409.0,13,Black,Female,0.0,0.0,40.0,Cuba,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [10]:
census_data = categorical_encoding(column_name='race', data_frame=census_data)
census_data.head()

,Unnamed: 0,age,fnlwgt,education_num,sex,capital_gain,capital_loss,hours_per_week,native_country,workclass_Federal-gov,...,relationship_Not-in-family,relationship_Other-relative,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,0,39,77516.0,13,Male,2174.0,0.0,40.0,United-States,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,50,83311.0,13,Male,0.0,0.0,13.0,United-States,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,38,215646.0,9,Male,0.0,0.0,40.0,United-States,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,53,234721.0,7,Male,0.0,0.0,40.0,United-States,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,28,338409.0,13,Female,0.0,0.0,40.0,Cuba,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [11]:
census_data = categorical_encoding(column_name='sex', data_frame=census_data)
census_data.head()

,Unnamed: 0,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,native_country,workclass_Federal-gov,workclass_Local-gov,...,relationship_Own-child,relationship_Unmarried,relationship_Wife,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White,sex_Female,sex_Male
0,0,39,77516.0,13,2174.0,0.0,40.0,United-States,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1,50,83311.0,13,0.0,0.0,13.0,United-States,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,2,38,215646.0,9,0.0,0.0,40.0,United-States,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
3,3,53,234721.0,7,0.0,0.0,40.0,United-States,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,4,28,338409.0,13,0.0,0.0,40.0,Cuba,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [12]:
census_data = categorical_encoding(column_name='native_country', data_frame=census_data)
census_data.head()

,Unnamed: 0,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,...,native_country_Portugal,native_country_Puerto-Rico,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia
0,0,39,77516.0,13,2174.0,0.0,40.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,50,83311.0,13,0.0,0.0,13.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2,38,215646.0,9,0.0,0.0,40.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,3,53,234721.0,7,0.0,0.0,40.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,4,28,338409.0,13,0.0,0.0,40.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
X_train, X_test, Y_train, Y_test = train_test_split(census_data, target, test_size = 0.25)
X_train.shape, Y_train.shape

((33916, 89), (33916,))

In [14]:
def classification_metrics(true_values, predicted_values):
    print("accuracy: "+ str(accuracy_score(true_values, predicted_values)))
    print("precision is: "+ str(precision_score(true_values, predicted_values, average='macro')))
    print("Recall is: "+ str(recall_score(true_values, predicted_values, average='macro')))

In [15]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression(solver='lbfgs')
LR.fit(X_train, Y_train)

C:\Users\jagad\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
LR_predicted = LR.predict(X_test)
print("Logistic regression model evaluation")
classification_metrics(true_values=Y_test, predicted_values=LR_predicted)

Logistic regression model evaluation
accuracy: 0.7914381744206616
precision is: 0.7549738629225287
Recall is: 0.614338468432623

In [17]:
from sklearn.svm import LinearSVC
linearsvc = LinearSVC()
linearsvc.fit(X_train, Y_train)

C:\Users\jagad\Anaconda3\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [18]:
linearsvc_predicted = linearsvc.predict(X_test)
print("Linear svm model evaluation")
classification_metrics(true_values=Y_test, predicted_values=linearsvc_predicted)

Linear svm model evaluation
accuracy: 0.7898460994162392
precision is: 0.7667519618718929
Recall is: 0.6023479664010523

In [19]:
from sklearn.linear_model import SGDClassifier
sgd = SGDClassifier(penalty='l2', loss='modified_huber')
sgd.fit(X_train, Y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='modified_huber',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [20]:
sgd_pedicted = sgd.predict(X_test)
print("SGD model evaluation")
classification_metrics(true_values=Y_test, predicted_values=sgd_pedicted)

SGD model evaluation
accuracy: 0.7867503980187511
precision is: 0.7740606023399891
Recall is: 0.5900796170545578

In [21]:
from sklearn.neighbors import KNeighborsClassifier
knclassifier = KNeighborsClassifier(weights='distance', algorithm='ball_tree', n_neighbors=20)
knclassifier.fit(X_train, Y_train)

KNeighborsClassifier(algorithm='ball_tree', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                     weights='distance')

In [22]:
kn_predicted = knclassifier.predict(X_test)
print("K nearest Neighbours model evaluation")
classification_metrics(true_values=Y_test, predicted_values=kn_predicted)

K nearest Neighbours model evaluation
accuracy: 0.7817972757827703
precision is: 0.7756939931581593
Recall is: 0.5756164231535366

In [23]:
from sklearn.naive_bayes import GaussianNB
gnb_classifier = GaussianNB()
gnb_classifier.fit(X_train, Y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [24]:
gnb_predicted = gnb_classifier.predict(X_test)
print("Naive Bayes model evaluation")
classification_metrics(true_values=Y_test, predicted_values=gnb_predicted)

Naive Bayes model evaluation
accuracy: 0.7906421369184504
precision is: 0.7366955811512588
Recall is: 0.6278665155836423

In [25]:
from sklearn.naive_bayes import ComplementNB
cmp_classifier = ComplementNB()
cmp_classifier.fit(X_train, Y_train)

ComplementNB(alpha=1.0, class_prior=None, fit_prior=True, norm=False)

In [26]:
cmp_predicted = cmp_classifier.predict(X_test)
print("Naive Bayes model evaluation")
classification_metrics(true_values=Y_test, predicted_values=cmp_predicted)

Naive Bayes model evaluation
accuracy: 0.7768441535467893
precision is: 0.711500004519243
Recall is: 0.5944329436660838

In [27]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [28]:
dtree_predicted = dtree.predict(X_test)
print("Decision Tree model evaluation")
classification_metrics(true_values=Y_test, predicted_values=dtree_predicted)

Decision Tree model evaluation
accuracy: 0.8074473730762427
precision is: 0.7413501513951068
Recall is: 0.7418712687716139

In [29]:
from sklearn.tree import ExtraTreeClassifier
extra_tree = ExtraTreeClassifier()
extra_tree.fit(X_train, Y_train)

ExtraTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                    max_features='auto', max_leaf_nodes=None,
                    min_impurity_decrease=0.0, min_impurity_split=None,
                    min_samples_leaf=1, min_samples_split=2,
                    min_weight_fraction_leaf=0.0, random_state=None,
                    splitter='random')

In [30]:
extratree_predicted = extra_tree.predict(X_test)
print("Extra Decision Tree model evaluation")
classification_metrics(true_values=Y_test, predicted_values=extratree_predicted)

Extra Decision Tree model evaluation
accuracy: 0.7928533522023704
precision is: 0.7218502311914177
Recall is: 0.7228067476184141

In [31]:
from sklearn.ensemble import AdaBoostClassifier
ada_classifier = AdaBoostClassifier(algorithm='SAMME.R')
ada_classifier.fit(X_train, Y_train)

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=None)

In [32]:
adaclassifier_predicted = ada_classifier.predict(X_test)
print("Ada Boost model evaluation")
classification_metrics(true_values=Y_test, predicted_values=adaclassifier_predicted)

Ada Boost model evaluation
accuracy: 0.8558287634884132
precision is: 0.8180174984264711
Recall is: 0.7759284470123795

In [33]:
from sklearn.ensemble import GradientBoostingClassifier
gradboost_classifier = GradientBoostingClassifier(loss='exponential')
gradboost_classifier.fit(X_train, Y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='exponential', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [34]:
gradboostclassifier_predicted = gradboost_classifier.predict(X_test)
print("Gradient Boosting model evaluation")
classification_metrics(true_values=Y_test, predicted_values=gradboostclassifier_predicted)

Gradient Boosting model evaluation
accuracy: 0.8633468954537413
precision is: 0.834177026220075
Recall is: 0.7794802643070138

In [35]:
from sklearn.ensemble import RandomForestClassifier
random_classifier = RandomForestClassifier(n_estimators = 100)
random_classifier.fit(X_train, Y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [36]:
randforestclassifier_predicted = random_classifier.predict(X_test)
print("Random Forest model evaluation")
classification_metrics(true_values=Y_test, predicted_values=randforestclassifier_predicted)

Random Forest model evaluation
accuracy: 0.8565363523792676
precision is: 0.8185632784595397
Recall is: 0.7778401475182385